<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
<nav>
  <a href="/">Home</a>
  <a href="/tea/new">Tea</a>
  <a href="/tea">Tea List</a>
  <a href="/reviews">Reviews</a>
  

  <% if (user) { %>
    <a href="/auth/logout">Logout</a>
    <p> Welcome <%=user.profile.name%> </p>
  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
    <p> Welcome Tea'mates </p>
  <% } %>
</nav>

