<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
<nav>
  <a href="/"><img src="https://img.icons8.com/external-becris-lineal-becris/64/000000/external-home-literary-genres-becris-lineal-becris.png"/></a>
  <a href="/tea"><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-tea-food-kiranshastry-lineal-kiranshastry.png"/></a>

  <% if (user) { %>

    <a href="/profile"><img src="https://img.icons8.com/external-justicon-lineal-justicon/64/000000/external-hot-tea-autumn-season-justicon-lineal-justicon-1.png"/></a>

  <a href="/reviews"><img src="https://img.icons8.com/external-ddara-lineal-ddara/64/000000/external-reviewers-digital-marketing-ddara-lineal-ddara.png"/></a>
  <% } %> 
  
  <% if (user) { %>
    <a href="/auth/logout"><img src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-exit-hotel-wanicon-lineal-wanicon.png"/></a>
    <p> Welcome <%=user.profile.name%> </p>
  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
    <p> Welcome Tea'mates </p>

  <% } %>
</nav>
<hr>