<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tea.css">
<%- include('./partials/nav') %>
<h1 style='margin-left:80rem; font-size:40px; display:flex; justify-content:baseline;' > Welcome to Flower Pot</h1>
<div class='mainTea'>
<img id='mainImg'src='/images/tea/main.JPEG'></img>
<h2>Have you ever thought of the benifits of tea? </br>If so, you came to the right place.
</br><b>I've got some tea waiting for you!</b>
</h2>
<div>
<%- include('./partials/footer') %>
