<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<h1> <%= user ? user.profile.name : "Tea'mates" %></h1>
<img src="/images/tea/flower pot example.jpeg">

<%- include('./partials/footer') %>
