<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tea.css">
<link rel="stylesheet" href="/stylesheets/teacards.css">
<%- include('./partials/nav') %>
<h1>floral Tea </h1>

<section>
<div class="container" >
<div>
<img class="image" src="/images/tea/butterfly pea tea.jpeg" alt="butterfly pea">
<div class="overlay">
<p class="text" >Butterfly Pea</br></p>
<summary style='color:white; font-size: 14px;'>Potential Benefits<details>
  <li>Stabilizes blood sugar levels</li>  
  <li>promote weight loss</li>   
  </details></summary>
</div>
</div>
</div>


<div class="container" >
  <div>
  <img class="image" src="/images/tea/chamomileTea.jpeg" alt="chamomile">
  <div class="overlay">
  <p class="text" >Chamomile</br></p>
  <summary style='color:white; font-size: 14px;'>Potential Benefits<details>
    <li>Boosts immune health</li>  
    <li>Improve Heart Health</li>  
    <li>Prevents bone loss</li>  
    <li>Promote Digestive Health</li>  </details></summary>
  </div>
  </div>
</div>


<div class="container" >
  <div>
  <img class="image" src="/images/tea/rose.jpg" alt="rose">
  <div class="overlay">
  <p class="text" >Rose</br></p>
  <summary style='color:white; font-size: 14px;'>Potential Benefits<details>
    <li>alleviate menstrual pain</li>  
    <li>Hydration and weight loss benefits</li>  
      </details></summary>
  </div>
  </div>
</div>
</section>

<section>
<div class="container" >
  <div>
  <img style='height:100%;'class="image" src='/images/tea/hibiscus.jpg' alt="hibiscus">
  <div class="overlay">
  <p class="text" ></br>Hibiscus</p>
  <summary style='color:white; font-size: 14px;'>Potential Benefits<details>
    <li>Boost Liver Health</li>  
    <li>Help Lower Blood Fat Levels</li>  
    <li>Could Help Fight Bacteria</li>  
   </details></summary>
  </div>
  </div>
</div>

<div class="container" >
  <div>
  <img style='height:100%;'class="image" src='/images/tea/IMG_4071.jpg' alt="Lavender">
  <div class="overlay">
  <p class="text" ></br>Lavender</p>
  <summary style='color:white; font-size: 14px;'>Potential Benefits<details>
    <li>May boost sleep</li>  
    <li>soothe menstrual cramping</li>  
    <li> improve mood disorders</li>  
    </details></summary>
  </div>
  </div>
</div>

<div class="container" >
  <div>
  <img style='height:100%;'class="image" src='/images/tea/white.jpg' alt="white">
  <div class="overlay">
  <p class="text" ></br>White</p>
  <summary style='color:white; font-size: 14px;'>Potential Benefits<details>
    <li>Reduce the Risk of Heart Disease</li>  
    <li>Protect Your Teeth from Bacteria</li>  
    <li>May Protect Against Osteoporosis</li>  
    </details></summary>
  </div>
  </div>
</div>
</section>

<h1> Other </h1> 

<section>
<div class="container" >
  <div>
  <img style='height:100%;'class="image" src='/images/tea/green.jpg' alt="green">
  <div class="overlay">
  <p class="text" ></br>Green</p>
  <summary style='color:white; font-size: 14px;'>Potential Benefits<details>
    <li>improved brain function</li>  
    <li>lowering the risk of heart disease</li>  
    <li>protect against cancer</li>  
    </details></summary>
  </div>
  </div>
</div>

<div class="container" >
  <div>
  <img style='height:100%;'class="image" src='/images/tea/mint.jpg' alt="mint">
  <div class="overlay">
  <p class="text" ></br>Mint</p>
  <summary style='color:white; font-size: 14px;'>Potential Benefits<details>
    <li>Ease Digestive Upsets</li>  
    <li>Relieve Clogged Sinuses</li>  
    <li>Improve Energy</li>  
    <li>Improve Your Sleep</li></details></summary>
  </div>
  </div>
  
</div>


</section>
<h2>Resources: <br>
  <a href='https://pubmed.ncbi.nlm.nih.gov/30585192/'>Tea Polyphenols in Promotion of Human Health</a>
   </h2>


<%- include('./partials/footer') %>