<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tea.css">
<%- include('../partials/nav') %>

<section>

<h1>Tea</h1>
<section>
<ul>
<li> Chamomile <img id='teaImg' src='/images/tea/Chamomile.JPG'> 
   
</li>
<li> White <img id='teaImg' src='/images/tea/White .JPG'> 
</li>
</ul>
</section>

<%- include('../partials/footer') %>
