<%- include('../partials/html-head') %>
    <link rel="stylesheet" href="/stylesheets/tea.css">
    <%- include('../partials/nav') %>

        <section>

            <h2>Add Tea!</h2>

            <ul>

            <li> Chamomile <img src='/images/tea/Chamomile.JPG' height="150px" width="150px">
            </li>

            </ul>
            <form action="/profile" method="PUT">
            <% if (user) { %>
            <button name="Chamomile" >Add</button> 
            </form>
            <% } %>


                <form action="/profile" method=GET>
                    <ul>
                        <button>Add</button>
                        <li> White <img id='teaImg' src='/images/tea/White .JPG'>
                        </li>
                    </ul>
                </form>

                <%- include('../partials/footer') %>