<%- include('../partials/html-head') %>
    <link rel="stylesheet" href="/stylesheets/tea.css">
    <%- include('../partials/nav') %>

        <section>
         
            <h2>Tea!</h2>
            <form action="/tea/new" method='POST'>
            <div class="teaName">
              <label for="teaName">Add A Tea To Your List</label>
                 <select id="tea" name="teaName">
                <option value="Chamomile">Chamomile</option>
                <option value="White">White</option>
                <option value="Peppermint">Peppermint</option>
                <option value="Green Tea">Green Tea</option>
              </select>
            </div>
                   <button type='submit'>ADD</button>
            </form>




            <div class="card" style="width: 18rem;">
                <h5 class="card-title">Chamomile</h5>
                <img src="/images/tea/Chamomile.JPG" class="card-img-top" alt="Chamomile">
                <div class="card-body">
                    
                  <details class="card-text">
                    <summary>Health Benfits</summary>
                    Something small enough to escape casual notice.
                 </details>
                </div>
              </div>
            </form>
          <%- include('../partials/footer') %>