<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<form action="/tea/new" method='POST'>

  <div class="teaName">
        <label for="teaName">Add A Tea To Your List</label>
           <select id="tea" name="teaName">
          <option value="Chamomile">Chamomile</option>
          <option value="White">White</option>
          <option value="Peppermint">Peppermint</option>
          <option value="Green Tea">Green Tea</option>
        </select>
      </div>
             <button type='submit'>ADD</button>
      </form>
     

<%- include('../partials/footer') %>