<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    </div>
  <main>
    <h1>Tea List</h1>
    <ul>
    <% tea.forEach(t => { %>
      <li><%= t.tName %> </li>
    <% }) %>
    </ul>
    
          </section>

<%- include('../partials/footer') %>