
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
body{
    background-color: #e2c9be;
    background-image: linear-gradient(to right, #d8beb3 10%, #fbf7e9 40%,#d8beb3 80%);
    


    font-family: 'Cormorant SC', serif;
    color:rgb(5, 5, 4)
}

li {
    list-style-type: none;
}


.mainTea{
display: inline-flex;
align-items: center;
}

#mainImg{
    width: 100vh;
    height: 80vh;
    border-radius: 50%;
}
.indexMain{
    display:flex;
    flex-direction:column; 
    margin-left: 5rem;
    font-size:55px;
}
