<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profile.css">
  <%- include('../partials/nav') %>


    <sections>
      
      <h1 style='margin-left:40rem;'><b>What Tea Have You Tried? </b></h1>
    
          <form action="/reviews" method='POST' style='margin-left:40rem; font-size: 15px;'>
            <div class="selectTea">
              <label for="selectTea">Name of Tea</label>
              <select id="tea" name="selectTea">
                <option value="Chamomile">Chamomile</option>
                <option value="White">White</option>
                <option value="Peppermint">Peppermint</option>
                <option value="Green">Green </option>
                  <option value="">Rose</option>
                  <option value="Butterfly Pea">Butterfly Pea</option>
                  <option value="Lavender">Lavender</option>
                  <option value="Hibiscus">Hibiscus</option>
                <option value="None">None</option>
              </select>
            </div>

               <div class="preference">
              <label for="like">Rate:</label>
            <input name="rate" type=number min=0 max=4 ></input>
            </div>

            <div class="share">
              <label for='share'>
            Share your experience on the tea you've tried or other tea reccomendations
                <input  type='text' name='share'>
              </label>
            </div>
            <button type="submit">Add Review</button>
          </form>
        




    </sections>
    <%- include('../partials/footer') %>